.text{
    margin-bottom: 10px;
}
.Calender{
    width: 140px;
}
.img{
    border-radius: 50%;
}

.ClassLT{
    margin-top:100%;
}
.Percentg{
    margin-top:87%;    
}
.bttnshow{
    margin-top:40%;  
}
.mainmap{
    width: 790%;
}
.camra{
    margin-left: 5%;
}